In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("summer.csv")

In [3]:
df

       Year    City      Sport  ... Gender                       Event   Medal
0      1896  Athens   Aquatics  ...    Men              100M Freestyle    Gold
1      1896  Athens   Aquatics  ...    Men              100M Freestyle  Silver
2      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors  Silver
...     ...     ...        ...  ...    ...                         ...     ...
31160  2012  London  Wrestling  ...    Men                    Wg 84 KG  Bronze
31161  2012  London  Wrestling  ...    Men                    Wg 96 KG    Gold
31162  2012  London  Wrestling  ...    Men                    Wg 96 KG  Silver
31163  2012  London  Wrestling  ...    Men                    Wg 96 KG  Bronze
31164  2012  London  Wrestling  ...    Men                    Wg 96 KG  Bronze

[31165 rows x 9 columns]

##1 In how many cities Summer Olympics is held so far?

In [4]:
 df['Country'].unique()

array(['HUN', 'AUT', 'GRE', 'USA', 'GER', 'GBR', 'FRA', 'AUS', 'DEN',
       'SUI', 'ZZX', 'NED', 'BEL', 'IND', 'CAN', 'BOH', 'SWE', 'NOR',
       'ESP', 'ITA', 'CUB', 'ANZ', 'RSA', 'FIN', 'RU1', 'EST', 'TCH',
       'NZL', 'BRA', 'JPN', 'LUX', 'ARG', 'POL', 'POR', 'URU', 'YUG',
       'ROU', 'HAI', 'EGY', 'PHI', 'IRL', 'CHI', 'LAT', 'MEX', 'TUR',
       'PAN', 'JAM', 'SRI', 'KOR', 'PUR', 'PER', 'IRI', 'TRI', 'URS',
       'VEN', 'BUL', 'LIB', 'EUA', 'ISL', 'PAK', 'BAH', 'BWI', 'TPE',
       'ETH', 'MAR', 'GHA', 'IRQ', 'SIN', 'TUN', 'KEN', 'NGR', 'GDR',
       'FRG', 'UGA', 'CMR', 'MGL', 'PRK', 'COL', 'NIG', 'THA', 'BER',
       'TAN', 'GUY', 'ZIM', 'CHN', 'CIV', 'ZAM', 'DOM', 'ALG', 'SYR',
       'SUR', 'CRC', 'INA', 'SEN', 'DJI', 'AHO', 'ISV', 'EUN', 'NAM',
       'QAT', 'LTU', 'MAS', 'CRO', 'ISR', 'SLO', 'IOP', 'RUS', 'UKR',
       'ECU', 'BDI', 'MOZ', 'CZE', 'BLR', 'TGA', 'KAZ', 'UZB', 'SVK',
       'MDA', 'GEO', 'HKG', 'ARM', 'AZE', 'BAR', 'KSA', 'KGZ', 'KUW',
       'VIE', 'MKD', 'SCG', 'ERI', 'PAR', 'UAE', 'SRB', 'SUD', 'MRI',
       'TOG', 'TJK', 'AFG', nan, 'BRN', 'GUA', 'GRN', 'TTO', 'BOT', 'MNE',
       'CYP', 'SGP', 'GAB'], dtype=object)

In [5]:
len(df['Country'].unique())

148

In [6]:
df['City'].unique()

array(['Athens', 'Paris', 'St Louis', 'London', 'Stockholm', 'Antwerp',
       'Amsterdam', 'Los Angeles', 'Berlin', 'Helsinki',
       'Melbourne / Stockholm', 'Rome', 'Tokyo', 'Mexico', 'Munich',
       'Montreal', 'Moscow', 'Seoul', 'Barcelona', 'Atlanta', 'Sydney',
       'Beijing'], dtype=object)

In [7]:
len(df['City'].unique())

22

##2 Which sport is having most number of Gold Medals so far? (Top 5)

In [36]:
df[df.Medal=='Gold'].Sport.value_counts().head()

Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
Name: Sport, dtype: int64

In [9]:
df[df.Medal=='Gold'].Event.value_counts().head()

Football            503
Hockey              486
Team Competition    403
Basketball          342
Water Polo          325
Name: Event, dtype: int64

In [10]:
for Medal in df['Medal'].unique():
    print(Medal, ":", len(df[df['Medal'] == Medal]))

Gold : 10486
Silver : 10310
Bronze : 10369

## 3 Which sport is having most number of medals so far?(Top 5)

In [13]:
df.Sport.value_counts().head()

Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Sport, dtype: int64

In [14]:
df.Event.value_counts().head()

Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Event, dtype: int64

## 4 Which player has won most number of medals?(Top 5)

In [15]:
df.Athlete.value_counts().head()

PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
MANGIAROTTI, Edoardo    13
SHAKHLIN, Boris         13
Name: Athlete, dtype: int64

In [16]:
len(df.Athlete.value_counts())

22762

## 5 Which player has won most number Gold Medals of medals? (Top 5)

In [17]:
df[df.Medal=='Gold'].Athlete.value_counts().head()

PHELPS, Michael     18
SPITZ, Mark          9
LATYNINA, Larisa     9
NURMI, Paavo         9
LEWIS, Carl          9
Name: Athlete, dtype: int64

In [18]:
df[df.Medal=='Gold'].Athlete.value_counts()

PHELPS, Michael       18
SPITZ, Mark            9
LATYNINA, Larisa       9
NURMI, Paavo           9
LEWIS, Carl            9
                      ..
GOPIN, Valeri          1
MCCORORY, Francena     1
PERUSIC, Zeljko        1
JARASINSKI, Kurt       1
SMIRNOV, Vladimir      1
Name: Athlete, Length: 8287, dtype: int64

## 6 In which year India won first Gold Medal in Summer Olympics?

In [20]:
df2=df[df.Medal=='Gold']
min(df2[df2.Country=='IND'].Year)

1928

In [21]:
df2=df[df.Medal=='Gold']
max(df2[df2.Country=='IND'].Year)

2008

## 7 Which event is most popular in terms on number of players?(Top 5)

In [23]:
df['Event'].value_counts().head()

Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Event, dtype: int64

In [24]:
df['Sport'].value_counts().head()

Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Sport, dtype: int64

In [28]:
len(df['Country'].value_counts())

147

## 8 Which sport is having most female Gold Medalists?(Top 5)

In [29]:
df2=df[df.Medal=='Gold']
df2[df2.Gender=='Women'].Sport.value_counts().head()

Aquatics      589
Athletics     389
Gymnastics    268
Rowing        217
Volleyball    166
Name: Sport, dtype: int64

In [30]:
df2=df[df.Medal=='Gold']
df2[df2.Gender=='Women'].Event.value_counts().head()

Volleyball          156
Hockey              144
Handball            142
Team Competition    126
Basketball          120
Name: Event, dtype: int64

## 9 How many countries participate in SUMMER OLYMPICS?

In [31]:
len(df['Country'].value_counts())

147

In [32]:
df['Country'].value_counts()

USA    4585
URS    2049
GBR    1720
FRA    1396
GER    1305
       ...
BDI       1
TGA       1
SEN       1
MRI       1
CYP       1
Name: Country, Length: 147, dtype: int64