In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("summer.csv")

In [6]:
df

       Year    City      Sport  ... Gender                       Event   Medal
0      1896  Athens   Aquatics  ...    Men              100M Freestyle    Gold
1      1896  Athens   Aquatics  ...    Men              100M Freestyle  Silver
2      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors  Silver
...     ...     ...        ...  ...    ...                         ...     ...
31160  2012  London  Wrestling  ...    Men                    Wg 84 KG  Bronze
31161  2012  London  Wrestling  ...    Men                    Wg 96 KG    Gold
31162  2012  London  Wrestling  ...    Men                    Wg 96 KG  Silver
31163  2012  London  Wrestling  ...    Men                    Wg 96 KG  Bronze
31164  2012  London  Wrestling  ...    Men                    Wg 96 KG  Bronze

[31165 rows x 9 columns]

In [7]:
df.head()

   Year    City     Sport  ... Gender                       Event   Medal
0  1896  Athens  Aquatics  ...    Men              100M Freestyle    Gold
1  1896  Athens  Aquatics  ...    Men              100M Freestyle  Silver
2  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Silver

[5 rows x 9 columns]

In [8]:
df.tail()

       Year    City      Sport  ... Gender     Event   Medal
31160  2012  London  Wrestling  ...    Men  Wg 84 KG  Bronze
31161  2012  London  Wrestling  ...    Men  Wg 96 KG    Gold
31162  2012  London  Wrestling  ...    Men  Wg 96 KG  Silver
31163  2012  London  Wrestling  ...    Men  Wg 96 KG  Bronze
31164  2012  London  Wrestling  ...    Men  Wg 96 KG  Bronze

[5 rows x 9 columns]

##  In how many cities Summer Olympics is held so far?

In [9]:
df['Country']

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
        ...
31160    POL
31161    IRI
31162    RUS
31163    ARM
31164    SWE
Name: Country, Length: 31165, dtype: object

In [10]:
df['City']

0        Athens
1        Athens
2        Athens
3        Athens
4        Athens
          ...
31160    London
31161    London
31162    London
31163    London
31164    London
Name: City, Length: 31165, dtype: object

In [11]:
 df['Country'].unique()

array(['HUN', 'AUT', 'GRE', 'USA', 'GER', 'GBR', 'FRA', 'AUS', 'DEN',
       'SUI', 'ZZX', 'NED', 'BEL', 'IND', 'CAN', 'BOH', 'SWE', 'NOR',
       'ESP', 'ITA', 'CUB', 'ANZ', 'RSA', 'FIN', 'RU1', 'EST', 'TCH',
       'NZL', 'BRA', 'JPN', 'LUX', 'ARG', 'POL', 'POR', 'URU', 'YUG',
       'ROU', 'HAI', 'EGY', 'PHI', 'IRL', 'CHI', 'LAT', 'MEX', 'TUR',
       'PAN', 'JAM', 'SRI', 'KOR', 'PUR', 'PER', 'IRI', 'TRI', 'URS',
       'VEN', 'BUL', 'LIB', 'EUA', 'ISL', 'PAK', 'BAH', 'BWI', 'TPE',
       'ETH', 'MAR', 'GHA', 'IRQ', 'SIN', 'TUN', 'KEN', 'NGR', 'GDR',
       'FRG', 'UGA', 'CMR', 'MGL', 'PRK', 'COL', 'NIG', 'THA', 'BER',
       'TAN', 'GUY', 'ZIM', 'CHN', 'CIV', 'ZAM', 'DOM', 'ALG', 'SYR',
       'SUR', 'CRC', 'INA', 'SEN', 'DJI', 'AHO', 'ISV', 'EUN', 'NAM',
       'QAT', 'LTU', 'MAS', 'CRO', 'ISR', 'SLO', 'IOP', 'RUS', 'UKR',
       'ECU', 'BDI', 'MOZ', 'CZE', 'BLR', 'TGA', 'KAZ', 'UZB', 'SVK',
       'MDA', 'GEO', 'HKG', 'ARM', 'AZE', 'BAR', 'KSA', 'KGZ', 'KUW',
       'VIE', 'MKD', 'SCG', 'ERI', 'PAR', 'UAE', 'SRB', 'SUD', 'MRI',
       'TOG', 'TJK', 'AFG', nan, 'BRN', 'GUA', 'GRN', 'TTO', 'BOT', 'MNE',
       'CYP', 'SGP', 'GAB'], dtype=object)

In [12]:
df['City'].unique()

array(['Athens', 'Paris', 'St Louis', 'London', 'Stockholm', 'Antwerp',
       'Amsterdam', 'Los Angeles', 'Berlin', 'Helsinki',
       'Melbourne / Stockholm', 'Rome', 'Tokyo', 'Mexico', 'Munich',
       'Montreal', 'Moscow', 'Seoul', 'Barcelona', 'Atlanta', 'Sydney',
       'Beijing'], dtype=object)

In [13]:
len(df['Country'].unique())

148

In [14]:
len(df['City'].unique())

22

In [15]:
for Country in df['Country'].unique():
    print([Country , len(df[df['Country']  == Country])])

['HUN', 1079]
['AUT', 146]
['GRE', 148]
['USA', 4585]
['GER', 1305]
['GBR', 1720]
['FRA', 1396]
['AUS', 1189]
['DEN', 507]
['SUI', 380]
['ZZX', 48]
['NED', 851]
['BEL', 411]
['IND', 184]
['CAN', 649]
['BOH', 7]
['SWE', 1044]
['NOR', 554]
['ESP', 442]
['ITA', 1296]
['CUB', 410]
['ANZ', 29]
['RSA', 106]
['FIN', 456]
['RU1', 17]
['EST', 39]
['TCH', 329]
['NZL', 190]
['BRA', 431]
['JPN', 788]
['LUX', 2]
['ARG', 259]
['POL', 511]
['POR', 33]
['URU', 76]
['YUG', 435]
['ROU', 640]
['HAI', 8]
['EGY', 28]
['PHI', 9]
['IRL', 30]
['CHI', 33]
['LAT', 20]
['MEX', 106]
['TUR', 86]
['PAN', 3]
['JAM', 127]
['SRI', 2]
['KOR', 529]
['PUR', 8]
['PER', 15]
['IRI', 61]
['TRI', 20]
['URS', 2049]
['VEN', 12]
['BUL', 333]
['LIB', 4]
['EUA', 260]
['ISL', 17]
['PAK', 121]
['BAH', 27]
['BWI', 5]
['TPE', 44]
['ETH', 45]
['MAR', 22]
['GHA', 16]
['IRQ', 1]
['SIN', 4]
['TUN', 10]
['KEN', 93]
['NGR', 84]
['GDR', 825]
['FRG', 490]
['UGA', 7]
['CMR', 23]
['MGL', 24]
['PRK', 58]
['COL', 19]
['NIG', 1]
['THA', 25]
['BER', 1]
['TAN', 2]
['GUY', 1]
['ZIM', 23]
['CHN', 807]
['CIV', 1]
['ZAM', 2]
['DOM', 6]
['ALG', 15]
['SYR', 3]
['SUR', 2]
['CRC', 4]
['INA', 38]
['SEN', 1]
['DJI', 1]
['AHO', 1]
['ISV', 1]
['EUN', 223]
['NAM', 4]
['QAT', 4]
['LTU', 55]
['MAS', 8]
['CRO', 114]
['ISR', 7]
['SLO', 26]
['IOP', 3]
['RUS', 768]
['UKR', 173]
['ECU', 2]
['BDI', 1]
['MOZ', 2]
['CZE', 56]
['BLR', 113]
['TGA', 1]
['KAZ', 49]
['UZB', 20]
['SVK', 34]
['MDA', 6]
['GEO', 25]
['HKG', 4]
['ARM', 11]
['AZE', 26]
['BAR', 1]
['KSA', 6]
['KGZ', 3]
['KUW', 2]
['VIE', 2]
['MKD', 1]
['SCG', 14]
['ERI', 1]
['PAR', 17]
['UAE', 1]
['SRB', 31]
['SUD', 1]
['MRI', 1]
['TOG', 1]
['TJK', 3]
['AFG', 2]
[nan, 0]
['BRN', 1]
['GUA', 1]
['GRN', 1]
['TTO', 10]
['BOT', 1]
['MNE', 14]
['CYP', 1]
['SGP', 4]
['GAB', 1]

In [16]:
for City in df['City'].unique():
    print([City , len(df[df['City']  == City])])

['Athens', 2149]
['Paris', 1396]
['St Louis', 470]
['London', 3567]
['Stockholm', 885]
['Antwerp', 1298]
['Amsterdam', 710]
['Los Angeles', 2074]
['Berlin', 875]
['Helsinki', 889]
['Melbourne / Stockholm', 885]
['Rome', 882]
['Tokyo', 1010]
['Mexico', 1031]
['Munich', 1185]
['Montreal', 1305]
['Moscow', 1387]
['Seoul', 1546]
['Barcelona', 1705]
['Atlanta', 1859]
['Sydney', 2015]
['Beijing', 2042]

##  Which sport is having most number of Gold Medals so far? (Top 5)

In [59]:
df[df.Medal=='Gold'].Sport.value_counts().head()

Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
Name: Sport, dtype: int64

In [60]:
df[df.Medal=='Gold'].Sport.value_counts().head()

Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
Name: Sport, dtype: int64

In [53]:
M=df2=df[df.Medal=='Gold']
df2[df2.Gender=='Men'].Sport.value_counts()

Aquatics             832
Athletics            826
Rowing               673
Gymnastics           552
Fencing              444
Football             417
Wrestling            379
Sailing              374
Hockey               342
Shooting             341
Cycling              326
Equestrian           269
Canoe / Kayak        258
Boxing               236
Basketball           222
Handball             179
Weightlifting        172
Volleyball           166
Baseball             111
Archery               87
Judo                  81
Rugby                 78
Modern Pentathlon     56
Tennis                54
Tug of War            36
Lacrosse              28
Table Tennis          23
Badminton             23
Polo                  22
Canoe                 18
Taekwondo             16
Golf                  12
Cricket               12
Ice Hockey             8
Water Motorsports      5
Skating                5
Triathlon              4
Croquet                4
Rackets                3
Basque Pelota          2
Jeu de paume           1
Roque                  1
Name: Sport, dtype: int64

In [54]:
F=df2=df[df.Medal=='Gold']
df2[df2.Gender=='Women'].Sport.value_counts()

Aquatics             589
Athletics            389
Gymnastics           268
Rowing               217
Volleyball           166
Hockey               144
Handball             142
Basketball           120
Fencing              108
Football              86
Canoe / Kayak         76
Softball              60
Equestrian            51
Cycling               45
Shooting              43
Judo                  42
Archery               39
Sailing               38
Tennis                38
Weightlifting         28
Badminton             23
Table Tennis          23
Taekwondo             16
Wrestling             12
Canoe                  9
Modern Pentathlon      4
Skating                4
Triathlon              4
Boxing                 3
Golf                   1
Name: Sport, dtype: int64

In [55]:
M+F

       Year  ...     Medal
0      3792  ...  GoldGold
3      3792  ...  GoldGold
6      3792  ...  GoldGold
9      3792  ...  GoldGold
13     3792  ...  GoldGold
...     ...  ...       ...
31145  4024  ...  GoldGold
31149  4024  ...  GoldGold
31153  4024  ...  GoldGold
31157  4024  ...  GoldGold
31161  4024  ...  GoldGold

[10486 rows x 9 columns]

In [56]:
len(M+F)

10486

In [ ]:
df["Medal"].unique()

array(['Gold', 'Silver', 'Bronze'], dtype=object)

In [ ]:
df['Sport'].unique()

array(['Aquatics', 'Athletics', 'Cycling', 'Fencing', 'Gymnastics',
       'Shooting', 'Tennis', 'Weightlifting', 'Wrestling', 'Archery',
       'Basque Pelota', 'Cricket', 'Croquet', 'Equestrian', 'Football',
       'Golf', 'Polo', 'Rowing', 'Rugby', 'Sailing', 'Tug of War',
       'Boxing', 'Lacrosse', 'Roque', 'Hockey', 'Jeu de paume', 'Rackets',
       'Skating', 'Water Motorsports', 'Modern Pentathlon', 'Ice Hockey',
       'Basketball', 'Canoe / Kayak', 'Handball', 'Judo', 'Volleyball',
       'Table Tennis', 'Badminton', 'Baseball', 'Softball', 'Taekwondo',
       'Triathlon', 'Canoe'], dtype=object)

In [ ]:
len(df['Sport'].unique())

43

In [ ]:
df['Event'].unique()

array(['100M Freestyle', '100M Freestyle For Sailors', '1200M Freestyle',
       '400M Freestyle', '100M', '110M Hurdles', '1500M', '400M', '800M',
       'Discus Throw', 'High Jump', 'Long Jump', 'Marathon', 'Pole Vault',
       'Shot Put', 'Triple Jump', 'Individual Road Race', '100KM', '10KM',
       '12-Hour Race', '1KM Time Trial', 'Sprint Indivual',
       'Foil Individual', 'Foil, Masters', 'Sabre Individual',
       'Horizontal Bar', 'Parallel Bars', 'Pommel Horse', 'Rings',
       'Rope Climbing', 'Team, Horizontal Bar', 'Team, Parallel Bars',
       'Vault', '25M Army Pistol', '25M Rapid Fire Pistol (60 Shots)',
       '50M Pistol (60 Shots)', 'Army Rifle, 200M', 'Army Rifle, 300M',
       'Doubles', 'Singles', 'Heavyweight - One Hand Lift',
       'Heavyweight - Two Hand Lift', 'Open Event', '1500M Freestyle',
       '200M Backstroke', '200M Freestyle', '200M Obstacle Event',
       '200M Team Swimming', '4000M Freestyle', 'Underwater Swimming',
       'Water Polo', 'Au Chapelet, 33M', 'Au Chapelet, 50M',
       'Au Cordon DorÃ©, 33M', 'Au Cordon DorÃ©, 50M',
       'Sur La Perche Ã€ La Herse', 'Sur La Perche Ã€ La Pyramide', '200M',
       '200M Hurdles', '3000M Steeplechase', '4000M Steeplechase',
       '400M Hurdles', '5000M Team', '60M', 'Hammer Throw',
       'High Jump, Standing', 'Long Jump, Standing',
       'Triple Jump, Standing', 'Cesta Punta', 'Cricket', 'Double',
       'Individual 1 Ball', 'Individual 2 Balls', '25 Kilometres',
       'Individual', 'Long Jump Individual', 'Ã‰pÃ©e Individual',
       'Ã‰pÃ©e, Amateurs And Masters', 'Ã‰pÃ©e, Masters', 'Sabre, Masters',
       'Football', 'Individual All-Round', 'Polo',
       'Eight With Coxswain (8+)', 'Four-Oared Shell With Coxswain (4-)',
       'Pair-Oared Shell With Coxswain (2+)', 'Single Sculls (1X)',
       'Rugby', '0.5-1T', '10-20T', '3-10T', 'Open Class',
       '50M Army Pistol, Team', 'Army Rifle, 300M, 3 Positions',
       'Army Rifle, 300M, Kneeling', 'Army Rifle, 300M, Prone',
       'Army Rifle, 300M, Standing', 'Free Rifle, Team',
       'Trap (125 Targets)', 'Mixed Doubles', 'Tug Of War',
       '10M Platform', 'Plunge For Distance', '100M Backstroke',
       '400M Breaststroke', '4X50Y Freestyle Relay',
       '50Y Freestyle (45.72M)', '880Y Freestyle (804.66M)',
       'Double American Round (60Y - 50Y - 40Y)',
       'Double Columbia Round (50Y - 40Y - 30Y)',
       'Double National Round (60Y - 50Y)',
       'Double York Round (100Y - 80Y - 60Y)', 'Team Round 60Y',
       'Teams Fita Round', '4Miles Team', '56LB Weight Throw (25.4KG)',
       'Decathlon', 'Triathlon (Long Jump / Shot Put / 100 Yards)',
       '- 47.63KG (Flyweight)', '+ 71.67KG (Heavyweight)',
       '47.63 - 52.16KG (Bantamweight)', '52.16 - 56.7KG (Featherweight)',
       '56.7 - 61.24KG (Lightweight)', '61.24 - 65.77KG (Welterweight)',
       '65.77 - 71.67KG (Middleweight)', '1 Mile (1609.3M)',
       '1/2 Mile (804.7M)', '1/3 Mile (536.5M)', '1/4 Mile (402.3M)',
       '2 Miles (3.218KM)', '25 Miles (40.232KM)', '5 Miles (8.046KM)',
       'Foil Team', 'Stick, Single', 'Team', 'Club Swinging',
       'Combined 3 Events', 'Combined 4 Events', 'Team Competition',
       'Lacrosse', 'Coxless Pair (2-)', 'Double Sculls (2X)',
       'Four Without Coxswain (4-)', 'All-Around Dumbbell Contest',
       '- 47.6KG (Light-Flyweight)', '47.6 - 52.16KG (Flyweight)',
       '52.16 - 56.7KG (Bantamweight)', '56.7 - 61.23KG (Featherweight)',
       '61.23 - 65.77KG (Lightweight)', '65.77 - 71.67KG (Welterweight)',
       '3M Springboard', '200M Breaststroke', '4X200M Freestyle Relay',
       'Continental Style 50M', 'National Round (60Y - 50Y)',
       'York Round (100Y - 80Y - 60Y)', '10Miles Walk (16093M)',
       '3200M Steeplechase', '3500M Walk', '3Miles Team (4828M)',
       '4X400M Relay', '5 Miles (8047M)', 'Discus Throw Ancient Style',
       'Javelin Throw', 'Javelin Throw Freestyle',
       '- 52.62KG (Bantamweight)', '52.62 - 57.15KG (Featherweight)',
       '57.15 - 63.5KG (Lightweight)', '63.5 - 71.67KG (Middleweight)',
       '1980 Yards Pursuit, Team', '2000M Tandem', '20KM', '5000M',
       'One Lap (660Y) Sprint', 'Ã‰pÃ©e Team', 'Sabre Team', 'Hockey',
       '12M', '6M', '7M', '8M', '1000Y Free Rifle, Prone',
       '100M Running Deer, Double Shots',
       '100M Running Deer, Single Shots',
       '100M Running Deer, Single Shots, Team',
       '25Y Small Bore Rifle, Disappearing Target',
       '25Y Small Bore Rifle, Moving Target',
       '300M Free Rifle 3 Positions (3X40 Shots)',
       '50+100Y Small Bore Rifle, Team', '50M Rifle Prone (60 Shots)',
       '50Y Army Pistol, Team', 'Clay Pigeons, Team', 'Rifle, Team',
       'Pairs', 'Special Figures', 'Doubles Indoor', 'Singles Indoor',
       '8M Class C', 'Class B Up To 60 Feet', 'Open Class A',
       '- 54KG (Bantamweight)', '+ 73KG (Heavyweight)',
       '54 - 60.3KG (Featherweight)', '60.3 - 66.6KG (Lightweight)',
       '66.6 - 73KG (Middleweight)', '- 66.6KG (Lightweight)',
       '+ 93KG (Super Heavyweight)', '73 - 93KG (Light-Heavyweight)',
       'Plain High Diving', '4X100M Freestyle Relay', '10000M',
       '10000M Walk', '3000M Team', '4X100M Relay',
       'Cross Country Individual', 'Cross Country Team',
       'Discus Throw, Both Hands', 'Javelin Throw, Both Hands',
       'Pentathlon', 'Shot Put, Both Hands', 'Individual Time Trial',
       'Team Time Trial', 'Team, Free System', 'Team, Swedish System',
       'Individual Competition', 'Coxed Fours Jugriggers', '10M',
       '25M Small Bore Rifle, Team', '25M Small Rifle',
       '30M Army Pistol, Team', '50M Small Bore Rifle, Team',
       '600M Free Rifle', 'Mixed Doubles Indoor',
       '- 60KG (Featherweight)', '+ 82.5KG (Super Heavyweight)',
       '60 - 67.5KG (Lightweight)', '67.5 - 75KG (Middleweight)',
       '75 - 82.5KG (Light-Heavyweight)', 'Fixed Bird Target Large Birds',
       'Fixed Bird Target Large Birds Teams',
       'Fixed Bird Target Small Bird, Teams',
       'Fixed Bird Target Small Birds', 'Moving Bird Target 28M Teams',
       'Moving Bird Target 33M Teams', 'Moving Bird Target 50M Teams',
       'Moving Bird Target, 28M', 'Moving Bird Target, 33M',
       'Moving Bird Target, 50M', '3000M Walk', '- 50.8KG (Flyweight)',
       '+ 79.38KG (Heavyweight)', '50.8 - 53.52KG (Bantamweight)',
       '53.52 - 57.15KG (Featherweight)', '57.15 - 61.24KG (Lightweight)',
       '61.24 - 66.68KG (Welterweight)', '66.68 - 72.57KG (Middleweight)',
       '72.57 - 79.38KG (Light-Heavyweight)', '50KM',
       'Team Pursuit (4000M)', 'Figure Riding Individual',
       'Figure Riding Team', 'Ice Hockey', '10M (Rating 1907)',
       '10M (Rating 1919)', '12 Foot Dinghy', '12M (Rating 1907)',
       '12M (Rating 1919)', '18 Foot Dinghy', '30M Sq', '40M Sq',
       '6.5M (Rating 1919)', '6M (Rating 1907)', '6M (Rating 1919)',
       '8M (Rating 1907)', '8M (Rating 1919)',
       '100M Running Deer, Double Shots, Team',
       '300+600M Free Rifle, Team, Prone', '300M Free Rifle, Prone, Team',
       '300M Free Rifle, Standing, Team',
       '50M Small Bore Rifle, Standing, Individual',
       '600M Free Rifle, Prone', '600M Free Rifle, Team',
       '- 60KG, One-Two Hand 3 Events (Featherweight)',
       '+ 82.5KG, One-Two Hand 3 Events (Heavyweight)',
       '60 - 67.5KG, One-Two Hand 3 Events (Lightweight)',
       '67.5 - 75KG, One-Two Hand 3 Events (Middleweight)',
       '75 - 82.5KG, One-Two Hand 3 E. (Light-Heavyweight)',
       '+ 80KG (Heavyweight)', '75 - 80KG (Light-Heavyweight)',
       '+ 82KG (Super Heavyweight)', '75 - 82KG (Light-Heavyweight)',
       'Sidehorse Vault', 'Olympic Class Monotype',
       '400, 600, 800M Free Rifle, Team', '600M Free Rifle, Individual',
       '- 60KG, One-Two Hand 5 Events (Featherweight)',
       '+ 82.5KG, One-Two Hand 5 Events (Heavyweight)',
       '60 - 67.5KG, One-Two Hand 5 Events (Lightweight)',
       '67.5 - 75KG, One-Two Hand 5 Events (Middleweight)',
       '75 - 82.5KG, One-Two Hand 5 E. (Light-Heavyweight)',
       '- 56KG (Bantamweight)', '+ 87KG (Heavyweight)',
       '56 - 61KG (Featherweight)', '61 - 66KG (Lightweight)',
       '66 - 72KG (Welterweight)', '72 - 79KG (Middleweight)',
       '79 - 87KG (Light-Heavyweight)', '- 58KG (Bantamweight)',
       '58 - 62KG (Featherweight)', '62 - 67.5KG (Lightweight)',
       '1KM Pursuit', '12 Foot Dinghy Individual',
       '- 60KG, Total (Featherweight)', '+ 82.5KG, Total (Heavyweight)',
       '60 - 67.5KG, Total (Lightweight)',
       '67.5 - 75KG, Total (Middleweight)',
       '75 - 82.5KG, Total (Light-Heavyweight)',
       '58 - 60KG (Featherweight)', '50KM Walk', '80M Hurdles',
       '50.8 - 54KG (Bantamweight)', '54 - 57.15KG (Featherweight)',
       'Floor Exercises', 'Indian Clubs', 'Tumbling',
       'Two-Person Keelboat Open (Star)', '+ 87KG (Super Heavyweight)',
       'Basketball', 'C-1 1000M (Canoe Single)', 'C-2 10000M',
       'C-2 1000M (Canoe Double)', 'Folding K-1 10000M',
       'Folding K-2 10000M', 'K-1 10000M', 'K-1 1000M (Kayak Single)',
       'K-2 10000M', 'K-2 1000M (Kayak Double)', 'Handball',
       '- 51KG (Flyweight)', '51 - 54KG (Bantamweight)',
       '54 - 58KG (Featherweight)', '58 - 62KG (Lightweight)',
       '62 - 67KG (Welterweight)', '67 - 73KG (Middleweight)',
       '73 - 80KG (Light-Heavyweight)', 'C-1 10000M',
       'K-1 500M (Kayak Single)', 'Dragon', 'Firefly Class',
       'Swallow (Golondrina)', '- 56KG, Total (Bantamweight)',
       '56 - 60KG, Total (Featherweight)', '- 52KG (Flyweight)',
       '52 - 57KG (Bantamweight)', '57 - 63KG (Featherweight)',
       '63 - 67KG (Lightweight)', '67 - 73KG (Welterweight)',
       '73 - 79KG (Middleweight)', '57 - 61KG (Featherweight)',
       '61 - 67KG (Lightweight)', '+ 81KG (Heavyweight)',
       '54 - 57KG (Featherweight)', '57 - 60KG (Lightweight)',
       '60 - 63.5KG (Light-Welterweight)', '63.5 - 67KG (Welterweight)',
       '67 - 71KG (Light-Middleweight)', '71-75KG',
       '75 - 81KG (Light-Heavyweight)', 'Balance Beam',
       'Team, Portable Apparatus', 'Uneven Bars', '5.5M',
       'Single-Handed Dinghy (Finn)',
       '100M Running Deer, Single/Double Shots',
       '50M Rifle 3 Positions (3X40 Shots)',
       '+ 90KG, Total (Heavyweight)',
       '82.5 - 90KG, Total (Middle-Heavyweight)', '100M Butterfly',
       '200M Butterfly', '20KM Walk', 'Sharpie 12M2',
       '4X100M Medley Relay', 'K-1 4X500M', 'K-2 500M (Kayak Double)',
       'Flying Dutchman', '400M Individual Medley',
       'K-4 1000M (Kayak Four)', 'Individual Pursuit',
       '- 68KG (Lightweight)', '68 - 80KG (Middleweight)',
       'Open Category', 'Volleyball', '+ 97KG (Heavyweight)',
       '63 - 70KG (Lightweight)', '70 - 78KG (Welterweight)',
       '78 - 87KG (Middleweight)', '87 - 97KG (Light-Heavyweight)',
       '+ 97KG (Super Heavyweight)', '100M Breaststroke',
       '200M Individual Medley', '800M Freestyle',
       '- 48KG (Light-Flyweight)', '48 - 51KG (Flyweight)',
       'Skeet (125 Targets)', 'Individual Fita Round', '100M Hurdles',
       'C-1 (Canoe Single)', 'C-2 (Canoe Double)', 'K-1 (Kayak Single)',
       '- 63KG (Lightweight)', '+ 93KG (Heavyweight)',
       '63 - 70KG (Half-Middleweight)', '70 - 80KG (Middleweight)',
       '80 - 93KG (Half-Heavyweight)',
       'Fleet/Match Race Keelboat Open (Soling)', 'Tempest',
       '50M Running Target (30+30 Shots)', '- 52KG, Total (Flyweight)',
       '+ 110KG, Total (Super Heavyweight)',
       '52 - 56KG, Total (Bantamweight)',
       '91 - 110KG, Total (Heavyweight)', '+ 100KG (Super Heavyweight)',
       '48 - 52KG (Flyweight)', '57 - 62KG (Featherweight)',
       '62 - 68KG (Lightweight)', '68 - 74KG (Welterweight)',
       '74 - 82KG (Middleweight)', '82 - 90KG (Light-Heavyweight)',
       '90 - 100KG (Heavyweight)', 'C-1 500M (Canoe Single)',
       'C-2 500M (Canoe Double)', 'Pair Without Coxswain (2-)',
       'Quadruple Sculls With Coxswain (4X)',
       'Quadruple Sculls Without Coxswain (4X)',
       '470 - Two Person Dinghy', 'Tornado - Multihull', '- 60 KG',
       '+ 95KG (Heavyweight)', '60 - 65KG (Half-Lightweight)',
       '65 - 71KG (Lightweight)', '71 - 78KG (Half-Middleweight)',
       '78 - 86KG (Middleweight)', '86 - 95KG (Half-Heavyweight)',
       '100 - 110KG, Total (Heavyweight)',
       '90 - 100KG, Total (First-Heavyweight)', 'Duet', 'Solo', '3000M',
       'Heptathlon', '+ 91KG (Super Heavyweight)',
       '81 - 91KG (Heavyweight)', 'K-4 500M (Kayak Four)', 'Points Race',
       'Board (Windglider)', '10M Air Rifle (40 Shots)',
       '10M Air Rifle (60 Shots)', '25M Pistol (30+30 Shots)',
       '50M Rifle 3 Positions (3X20 Shots)', '50M Freestyle', 'Sprint',
       'Board (Division Ii)', '10M Air Pistol (40 Shots)',
       '10M Air Pistol (60 Shots)', '100 - 130KG (Super Heavyweight)',
       'Individual (Fita Olympic Round - 70M)',
       'Team (Fita Olympic Round - 70M)', 'Baseball',
       '- 48KG (Extra-Lightweight)', '+ 72KG (Heavyweight)',
       '48 - 52KG (Half-Lightweight)', '52 - 56KG (Lightweight)',
       '56 - 61KG (Half-Middleweight)', '61 - 66KG (Middleweight)',
       '66 - 72KG (Half-Heavyweight)', 'Coxless Four (4-)',
       'Board (Lechner)', 'Single-Handed Dinghy (Europe)',
       'Cross-Country', 'Group Competition', '+ 100KG (Heavyweight)',
       '60 - 66KG (Half-Lightweight)', '66 - 73KG (Lightweight)',
       '73 - 81KG (Half-Middleweight)', '81 - 90KG (Middleweight)',
       '90 - 100KG (Half-Heavyweight)', 'Lightweight Coxless Four (4-)',
       'Lightweight Double Sculls (2X)', 'Board (Mistral)',
       'Single-Handed Dinghy Open (Laser)', 'Double Trap (120 Targets)',
       'Double Trap (150 Targets)', 'Softball', 'Beach Volleyball',
       '- 54KG, Total (Flyweight)', '+ 108KG, Total (Super Heavyweight)',
       '54 - 59KG, Total (Bantamweight)',
       '59 - 64KG, Total (Featherweight)',
       '64 - 70KG, Total (Lightweight)',
       '70 - 76KG, Total (Middleweight)',
       '76 - 83KG, Total (Light-Heavyweight)',
       '83 - 91KG, Total (Middle-Heavyweight)',
       '91 - 99KG, Total (First-Heavyweight)',
       '99 - 108KG, Total (Heavyweight)',
       'Synchronized Diving 10M Platform',
       'Synchronized Diving 3M Springboard', '20KM Race Walk',
       '500M Time Trial', 'Keirin', 'Madison', 'Olympic Sprint',
       '+ 78KG (Heavyweight)', '52 - 57KG (Lightweight)',
       '57 - 63KG (Half-Middleweight)', '63 - 70KG (Middleweight)',
       '70 - 78KG (Half-Heavyweight)', '49Er - Skiff',
       '10M Running Target (30+30 Shots)', 'Skeet (75 Targets)',
       'Trap (75 Targets)', '- 49 KG', '- 58 KG', '+ 67 KG', '+ 80 KG',
       '49 - 57 KG', '57 - 67 KG', '58 - 68 KG', '68 - 80 KG', '+ 105KG',
       '+ 75KG', '105KG', '48KG', '53KG', '56KG', '58KG', '62KG', '63KG',
       '69KG', '75KG', '77KG', '85KG', '94KG', '48 - 54KG', '54 - 58KG',
       '58 - 63KG', '63 - 69KG', '69 - 76KG', '76 - 85KG', '85 - 97KG',
       '97 - 130KG', '48KG (Light Flywieght)', '60 - 64 KG', '64 - 69 KG',
       '69 - 75 KG', 'Team Sprint', '- 48 KG', 'Star - Keelboat',
       'Yngling - Keelboat', '- 48KG', '- 55KG', '48 - 55KG', '55 - 60KG',
       '55 - 63KG', '60 - 66KG', '63 - 72KG', '66 - 74KG', '74 - 84KG',
       '84 - 96KG', '96 - 120KG', 'Marathon 10KM',
       'Finn - Heavyweight Dinghy', 'Laser - One Person Dinghy',
       'Laser Radial - One Person Dinghy', 'Rs:X - Windsurfer',
       'Synchronized 10M', 'Synchronized 3M', '200M Medley',
       '400M Medley', '4X100M Freestyle', '4X100M Medley',
       '4X200M Freestyle', '3000M Steeple', '+ 91KG', '46 - 49KG',
       '51 KG', '52KG', '57 - 60KG', '60 KG', '75 - 81KG', '75 KG',
       '81 - 91KG', 'C-1 (Single)', 'C-2 (Double)', 'K-1 (Single)',
       'C-1 1000M', 'C-1 200M', 'C-2 1000M', 'K-1 1000M', 'K-1 200M',
       'K-1 500M', 'K-2 1000M', 'K-2 200M', 'K-2 500M', 'K-4 1000M',
       'K-4 500M', 'Individual Road', 'Time Trial', 'Omnium',
       'Team Pursuit', 'Beam', 'Individual All-Around', '+ 100KG',
       '+ 78KG', '48 - 52KG', '52 - 57KG', '57 - 63KG', '63 - 70KG',
       '66 - 73KG', '70 - 78KG', '73 - 81KG', '81 - 90KG', '90 - 100KG',
       'Coxless Four', 'Coxless Pair 2-', 'Double Sculls',
       'Eight With Coxswain', 'Lightweight 4', 'Lightweight Doubles',
       'Quadruple Sculls', 'Single Sculls', '470', 'Elliott 6M', 'Finn',
       'Laser', 'Laser Radial', 'Rs:X', 'Star', '10M Air Pistol',
       '10M Air Rifle', '25M Pistol', '25M Rapid Pistol', '50M Pistol',
       '50M Rifle 3 Positions', '50M Rifle Prone', 'Double Trap 150',
       'Skeet', 'Trap', '+105KG', '+75KG', '-56KG', 'Wf 120KG',
       'Wf 48 KG', 'Wf 55 KG', 'Wf 60 KG', 'Wf 63 KG', 'Wf 66 KG',
       'Wf 72 KG', 'Wf 74 KG', 'Wf 84 KG', 'Wf 96 KG', 'Wg 120 KG',
       'Wg 55 KG', 'Wg 60 KG', 'Wg 66 KG', 'Wg 74 KG', 'Wg 84 KG',
       'Wg 96 KG'], dtype=object)

In [ ]:
len(df['Event'].unique())

666

In [ ]:
df[df['Medal']== 'Gold']

       Year    City      Sport  ... Gender                       Event Medal
0      1896  Athens   Aquatics  ...    Men              100M Freestyle  Gold
3      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors  Gold
6      1896  Athens   Aquatics  ...    Men             1200M Freestyle  Gold
9      1896  Athens   Aquatics  ...    Men              400M Freestyle  Gold
13     1896  Athens  Athletics  ...    Men                        100M  Gold
...     ...     ...        ...  ...    ...                         ...   ...
31145  2012  London  Wrestling  ...    Men                    Wg 60 KG  Gold
31149  2012  London  Wrestling  ...    Men                    Wg 66 KG  Gold
31153  2012  London  Wrestling  ...    Men                    Wg 74 KG  Gold
31157  2012  London  Wrestling  ...    Men                    Wg 84 KG  Gold
31161  2012  London  Wrestling  ...    Men                    Wg 96 KG  Gold

[10486 rows x 9 columns]

In [ ]:
len(df[df['Medal']== 'Gold'])

10486

In [ ]:
for Medal in df['Medal'].unique():
    print(Medal, ":", len(df[df['Medal'] == Medal]))

Gold : 10486
Silver : 10310
Bronze : 10369

In [ ]:
for Sport in df['Sport'].unique():
    print(Sport, ":", len(df[df['Sport'] == Sport]))

Aquatics : 4170
Athletics : 3638
Cycling : 1105
Fencing : 1613
Gymnastics : 2307
Shooting : 1150
Tennis : 296
Weightlifting : 593
Wrestling : 1212
Archery : 329
Basque Pelota : 4
Cricket : 24
Croquet : 8
Equestrian : 939
Football : 1497
Golf : 30
Polo : 66
Rowing : 2667
Rugby : 192
Sailing : 1109
Tug of War : 94
Boxing : 894
Lacrosse : 59
Roque : 3
Hockey : 1422
Jeu de paume : 3
Rackets : 10
Skating : 27
Water Motorsports : 5
Modern Pentathlon : 180
Ice Hockey : 27
Basketball : 1012
Canoe / Kayak : 1002
Handball : 973
Judo : 491
Volleyball : 994
Table Tennis : 144
Badminton : 144
Baseball : 335
Softball : 180
Taekwondo : 112
Triathlon : 24
Canoe : 81

## Which sport is having most number of medals so far?(Top 5)

In [20]:
df.Sport.value_counts().head()

Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Sport, dtype: int64

In [22]:
df.Event.value_counts().head()

Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Event, dtype: int64

In [19]:
for Sport in df['Sport'].unique():
    print(Sport, ":", len(df[df['Sport'] == Sport]))

Aquatics : 4170
Athletics : 3638
Cycling : 1105
Fencing : 1613
Gymnastics : 2307
Shooting : 1150
Tennis : 296
Weightlifting : 593
Wrestling : 1212
Archery : 329
Basque Pelota : 4
Cricket : 24
Croquet : 8
Equestrian : 939
Football : 1497
Golf : 30
Polo : 66
Rowing : 2667
Rugby : 192
Sailing : 1109
Tug of War : 94
Boxing : 894
Lacrosse : 59
Roque : 3
Hockey : 1422
Jeu de paume : 3
Rackets : 10
Skating : 27
Water Motorsports : 5
Modern Pentathlon : 180
Ice Hockey : 27
Basketball : 1012
Canoe / Kayak : 1002
Handball : 973
Judo : 491
Volleyball : 994
Table Tennis : 144
Badminton : 144
Baseball : 335
Softball : 180
Taekwondo : 112
Triathlon : 24
Canoe : 81

In [ ]:
for Event in df['Event'].unique():
    print(Event, ":", len(df[df['Event'] == Event]))

100M Freestyle : 148
100M Freestyle For Sailors : 3
1200M Freestyle : 3
400M Freestyle : 144
100M : 142
110M Hurdles : 80
1500M : 114
400M : 119
800M : 126
Discus Throw : 141
High Jump : 151
Long Jump : 132
Marathon : 105
Pole Vault : 100
Shot Put : 132
Triple Jump : 96
Individual Road Race : 76
100KM : 5
10KM : 9
12-Hour Race : 2
1KM Time Trial : 57
Sprint Indivual : 69
Foil Individual : 141
Foil, Masters : 5
Sabre Individual : 90
Horizontal Bar : 72
Parallel Bars : 72
Pommel Horse : 69
Rings : 73
Rope Climbing : 13
Team, Horizontal Bar : 11
Team, Parallel Bars : 19
Vault : 123
25M Army Pistol : 3
25M Rapid Fire Pistol (60 Shots) : 69
50M Pistol (60 Shots) : 66
Army Rifle, 200M : 3
Army Rifle, 300M : 3
Doubles : 318
Singles : 168
Heavyweight - One Hand Lift : 3
Heavyweight - Two Hand Lift : 6
Open Event : 3
1500M Freestyle : 78
200M Backstroke : 79
200M Freestyle : 78
200M Obstacle Event : 3
200M Team Swimming : 15
4000M Freestyle : 3
Underwater Swimming : 3
Water Polo : 958
Au Chapelet, 33M : 3
Au Chapelet, 50M : 3
Au Cordon DorÃ©, 33M : 3
Au Cordon DorÃ©, 50M : 3
Sur La Perche Ã€ La Herse : 3
Sur La Perche Ã€ La Pyramide : 3
200M : 129
200M Hurdles : 6
3000M Steeplechase : 72
4000M Steeplechase : 3
400M Hurdles : 99
5000M Team : 10
60M : 6
Hammer Throw : 90
High Jump, Standing : 12
Long Jump, Standing : 12
Triple Jump, Standing : 6
Cesta Punta : 4
Cricket : 24
Double : 8
Individual 1 Ball : 3
Individual 2 Balls : 3
25 Kilometres : 3
Individual : 324
Long Jump Individual : 3
Ã‰pÃ©e Individual : 93
Ã‰pÃ©e, Amateurs And Masters : 3
Ã‰pÃ©e, Masters : 3
Sabre, Masters : 3
Football : 1497
Individual All-Round : 143
Polo : 66
Eight With Coxswain (8+) : 918
Four-Oared Shell With Coxswain (4-) : 359
Pair-Oared Shell With Coxswain (2+) : 162
Single Sculls (1X) : 104
Rugby : 192
0.5-1T : 10
10-20T : 4
3-10T : 3
Open Class : 9
50M Army Pistol, Team : 42
Army Rifle, 300M, 3 Positions : 7
Army Rifle, 300M, Kneeling : 3
Army Rifle, 300M, Prone : 6
Army Rifle, 300M, Standing : 6
Free Rifle, Team : 66
Trap (125 Targets) : 60
Mixed Doubles : 32
Tug Of War : 94
10M Platform : 145
Plunge For Distance : 3
100M Backstroke : 136
400M Breaststroke : 9
4X50Y Freestyle Relay : 12
50Y Freestyle (45.72M) : 3
880Y Freestyle (804.66M) : 3
Double American Round (60Y - 50Y - 40Y) : 3
Double Columbia Round (50Y - 40Y - 30Y) : 3
Double National Round (60Y - 50Y) : 3
Double York Round (100Y - 80Y - 60Y) : 3
Team Round 60Y : 12
Teams Fita Round : 24
4Miles Team : 10
56LB Weight Throw (25.4KG) : 6
Decathlon : 73
Triathlon (Long Jump / Shot Put / 100 Yards) : 3
- 47.63KG (Flyweight) : 2
+ 71.67KG (Heavyweight) : 9
47.63 - 52.16KG (Bantamweight) : 2
52.16 - 56.7KG (Featherweight) : 3
56.7 - 61.24KG (Lightweight) : 3
61.24 - 65.77KG (Welterweight) : 4
65.77 - 71.67KG (Middleweight) : 2
1 Mile (1609.3M) : 3
1/2 Mile (804.7M) : 3
1/3 Mile (536.5M) : 3
1/4 Mile (402.3M) : 3
2 Miles (3.218KM) : 3
25 Miles (40.232KM) : 3
5 Miles (8.046KM) : 3
Foil Team : 505
Stick, Single : 3
Team : 908
Club Swinging : 3
Combined 3 Events : 3
Combined 4 Events : 3
Team Competition : 1147
Lacrosse : 59
Coxless Pair (2-) : 132
Double Sculls (2X) : 186
Four Without Coxswain (4-) : 260
All-Around Dumbbell Contest : 3
- 47.6KG (Light-Flyweight) : 3
47.6 - 52.16KG (Flyweight) : 3
52.16 - 56.7KG (Bantamweight) : 3
56.7 - 61.23KG (Featherweight) : 3
61.23 - 65.77KG (Lightweight) : 3
65.77 - 71.67KG (Welterweight) : 3
3M Springboard : 139
200M Breaststroke : 135
4X200M Freestyle Relay : 380
Continental Style 50M : 3
National Round (60Y - 50Y) : 3
York Round (100Y - 80Y - 60Y) : 3
10Miles Walk (16093M) : 3
3200M Steeplechase : 3
3500M Walk : 3
3Miles Team (4828M) : 9
4X400M Relay : 451
5 Miles (8047M) : 3
Discus Throw Ancient Style : 3
Javelin Throw : 129
Javelin Throw Freestyle : 3
- 52.62KG (Bantamweight) : 3
52.62 - 57.15KG (Featherweight) : 3
57.15 - 63.5KG (Lightweight) : 3
63.5 - 71.67KG (Middleweight) : 3
1980 Yards Pursuit, Team : 12
2000M Tandem : 78
20KM : 3
5000M : 87
One Lap (660Y) Sprint : 3
Ã‰pÃ©e Team : 385
Sabre Team : 382
Hockey : 1422
12M : 47
6M : 102
7M : 12
8M : 93
1000Y Free Rifle, Prone : 3
100M Running Deer, Double Shots : 12
100M Running Deer, Single Shots : 12
100M Running Deer, Single Shots, Team : 51
25Y Small Bore Rifle, Disappearing Target : 3
25Y Small Bore Rifle, Moving Target : 3
300M Free Rifle 3 Positions (3X40 Shots) : 30
50+100Y Small Bore Rifle, Team : 12
50M Rifle Prone (60 Shots) : 63
50Y Army Pistol, Team : 12
Clay Pigeons, Team : 72
Rifle, Team : 36
Pairs : 12
Special Figures : 3
Doubles Indoor : 12
Singles Indoor : 12
8M Class C : 2
Class B Up To 60 Feet : 2
Open Class A : 1
- 54KG (Bantamweight) : 3
+ 73KG (Heavyweight) : 3
54 - 60.3KG (Featherweight) : 3
60.3 - 66.6KG (Lightweight) : 3
66.6 - 73KG (Middleweight) : 6
- 66.6KG (Lightweight) : 3
+ 93KG (Super Heavyweight) : 3
73 - 93KG (Light-Heavyweight) : 3
Plain High Diving : 9
4X100M Freestyle Relay : 438
10000M : 90
10000M Walk : 21
3000M Team : 41
4X100M Relay : 533
Cross Country Individual : 9
Cross Country Team : 36
Discus Throw, Both Hands : 3
Javelin Throw, Both Hands : 3
Pentathlon : 25
Shot Put, Both Hands : 3
Individual Time Trial : 36
Team Time Trial : 191
Team, Free System : 117
Team, Swedish System : 147
Individual Competition : 75
Coxed Fours Jugriggers : 15
10M : 22
25M Small Bore Rifle, Team : 12
25M Small Rifle : 3
30M Army Pistol, Team : 27
50M Small Bore Rifle, Team : 27
600M Free Rifle : 3
Mixed Doubles Indoor : 6
- 60KG (Featherweight) : 9
+ 82.5KG (Super Heavyweight) : 9
60 - 67.5KG (Lightweight) : 12
67.5 - 75KG (Middleweight) : 15
75 - 82.5KG (Light-Heavyweight) : 9
Fixed Bird Target Large Birds : 3
Fixed Bird Target Large Birds Teams : 6
Fixed Bird Target Small Bird, Teams : 6
Fixed Bird Target Small Birds : 3
Moving Bird Target 28M Teams : 24
Moving Bird Target 33M Teams : 16
Moving Bird Target 50M Teams : 16
Moving Bird Target, 28M : 2
Moving Bird Target, 33M : 2
Moving Bird Target, 50M : 2
3000M Walk : 3
- 50.8KG (Flyweight) : 15
+ 79.38KG (Heavyweight) : 15
50.8 - 53.52KG (Bantamweight) : 9
53.52 - 57.15KG (Featherweight) : 9
57.15 - 61.24KG (Lightweight) : 15
61.24 - 66.68KG (Welterweight) : 15
66.68 - 72.57KG (Middleweight) : 15
72.57 - 79.38KG (Light-Heavyweight) : 15
50KM : 6
Team Pursuit (4000M) : 262
Figure Riding Individual : 3
Figure Riding Team : 11
Ice Hockey : 27
10M (Rating 1907) : 7
10M (Rating 1919) : 7
12 Foot Dinghy : 4
12M (Rating 1907) : 9
12M (Rating 1919) : 9
18 Foot Dinghy : 2
30M Sq : 4
40M Sq : 8
6.5M (Rating 1919) : 6
6M (Rating 1907) : 9
6M (Rating 1919) : 6
8M (Rating 1907) : 9
8M (Rating 1919) : 14
100M Running Deer, Double Shots, Team : 33
300+600M Free Rifle, Team, Prone : 15
300M Free Rifle, Prone, Team : 15
300M Free Rifle, Standing, Team : 15
50M Small Bore Rifle, Standing, Individual : 3
600M Free Rifle, Prone : 3
600M Free Rifle, Team : 15
- 60KG, One-Two Hand 3 Events (Featherweight) : 3
+ 82.5KG, One-Two Hand 3 Events (Heavyweight) : 3
60 - 67.5KG, One-Two Hand 3 Events (Lightweight) : 3
67.5 - 75KG, One-Two Hand 3 Events (Middleweight) : 3
75 - 82.5KG, One-Two Hand 3 E. (Light-Heavyweight) : 3
+ 80KG (Heavyweight) : 11
75 - 80KG (Light-Heavyweight) : 3
+ 82KG (Super Heavyweight) : 3
75 - 82KG (Light-Heavyweight) : 3
Sidehorse Vault : 3
Olympic Class Monotype : 9
400, 600, 800M Free Rifle, Team : 18
600M Free Rifle, Individual : 3
- 60KG, One-Two Hand 5 Events (Featherweight) : 3
+ 82.5KG, One-Two Hand 5 Events (Heavyweight) : 3
60 - 67.5KG, One-Two Hand 5 Events (Lightweight) : 3
67.5 - 75KG, One-Two Hand 5 Events (Middleweight) : 3
75 - 82.5KG, One-Two Hand 5 E. (Light-Heavyweight) : 3
- 56KG (Bantamweight) : 18
+ 87KG (Heavyweight) : 24
56 - 61KG (Featherweight) : 18
61 - 66KG (Lightweight) : 18
66 - 72KG (Welterweight) : 18
72 - 79KG (Middleweight) : 18
79 - 87KG (Light-Heavyweight) : 42
- 58KG (Bantamweight) : 6
58 - 62KG (Featherweight) : 3
62 - 67.5KG (Lightweight) : 3
1KM Pursuit : 3
12 Foot Dinghy Individual : 3
- 60KG, Total (Featherweight) : 9
+ 82.5KG, Total (Heavyweight) : 12
60 - 67.5KG, Total (Lightweight) : 45
67.5 - 75KG, Total (Middleweight) : 45
75 - 82.5KG, Total (Light-Heavyweight) : 44
58 - 60KG (Featherweight) : 3
50KM Walk : 54
80M Hurdles : 24
50.8 - 54KG (Bantamweight) : 6
54 - 57.15KG (Featherweight) : 6
Floor Exercises : 112
Indian Clubs : 3
Tumbling : 3
Two-Person Keelboat Open (Star) : 90
+ 87KG (Super Heavyweight) : 18
Basketball : 1012
C-1 1000M (Canoe Single) : 51
C-2 10000M : 24
C-2 1000M (Canoe Double) : 102
Folding K-1 10000M : 3
Folding K-2 10000M : 6
K-1 10000M : 12
K-1 1000M (Kayak Single) : 51
K-2 10000M : 24
K-2 1000M (Kayak Double) : 102
Handball : 973
- 51KG (Flyweight) : 19
51 - 54KG (Bantamweight) : 63
54 - 58KG (Featherweight) : 3
58 - 62KG (Lightweight) : 3
62 - 67KG (Welterweight) : 3
67 - 73KG (Middleweight) : 3
73 - 80KG (Light-Heavyweight) : 3
C-1 10000M : 9
K-1 500M (Kayak Single) : 75
Dragon : 63
Firefly Class : 3
Swallow (Golondrina) : 6
- 56KG, Total (Bantamweight) : 39
56 - 60KG, Total (Featherweight) : 36
- 52KG (Flyweight) : 36
52 - 57KG (Bantamweight) : 78
57 - 63KG (Featherweight) : 24
63 - 67KG (Lightweight) : 12
67 - 73KG (Welterweight) : 24
73 - 79KG (Middleweight) : 24
57 - 61KG (Featherweight) : 12
61 - 67KG (Lightweight) : 12
+ 81KG (Heavyweight) : 32
54 - 57KG (Featherweight) : 60
57 - 60KG (Lightweight) : 60
60 - 63.5KG (Light-Welterweight) : 52
63.5 - 67KG (Welterweight) : 52
67 - 71KG (Light-Middleweight) : 52
71-75KG : 52
75 - 81KG (Light-Heavyweight) : 60
Balance Beam : 46
Team, Portable Apparatus : 48
Uneven Bars : 50
5.5M : 47
Single-Handed Dinghy (Finn) : 42
100M Running Deer, Single/Double Shots : 6
50M Rifle 3 Positions (3X40 Shots) : 45
+ 90KG, Total (Heavyweight) : 15
82.5 - 90KG, Total (Middle-Heavyweight) : 33
100M Butterfly : 81
200M Butterfly : 81
20KM Walk : 45
Sharpie 12M2 : 6
4X100M Medley Relay : 387
K-1 4X500M : 12
K-2 500M (Kayak Double) : 132
Flying Dutchman : 54
400M Individual Medley : 72
K-4 1000M (Kayak Four) : 144
Individual Pursuit : 51
- 68KG (Lightweight) : 4
68 - 80KG (Middleweight) : 4
Open Category : 20
Volleyball : 934
+ 97KG (Heavyweight) : 6
63 - 70KG (Lightweight) : 12
70 - 78KG (Welterweight) : 12
78 - 87KG (Middleweight) : 12
87 - 97KG (Light-Heavyweight) : 12
+ 97KG (Super Heavyweight) : 6
100M Breaststroke : 72
200M Individual Medley : 54
800M Freestyle : 36
- 48KG (Light-Flyweight) : 78
48 - 51KG (Flyweight) : 44
Skeet (125 Targets) : 33
Individual Fita Round : 30
100M Hurdles : 34
C-1 (Canoe Single) : 18
C-2 (Canoe Double) : 36
K-1 (Kayak Single) : 36
- 63KG (Lightweight) : 7
+ 93KG (Heavyweight) : 8
63 - 70KG (Half-Middleweight) : 8
70 - 80KG (Middleweight) : 8
80 - 93KG (Half-Heavyweight) : 8
Fleet/Match Race Keelboat Open (Soling) : 72
Tempest : 12
50M Running Target (30+30 Shots) : 21
- 52KG, Total (Flyweight) : 18
+ 110KG, Total (Super Heavyweight) : 18
52 - 56KG, Total (Bantamweight) : 3
91 - 110KG, Total (Heavyweight) : 6
+ 100KG (Super Heavyweight) : 24
48 - 52KG (Flyweight) : 42
57 - 62KG (Featherweight) : 42
62 - 68KG (Lightweight) : 42
68 - 74KG (Welterweight) : 42
74 - 82KG (Middleweight) : 42
82 - 90KG (Light-Heavyweight) : 42
90 - 100KG (Heavyweight) : 42
C-1 500M (Canoe Single) : 27
C-2 500M (Canoe Double) : 54
Pair Without Coxswain (2-) : 54
Quadruple Sculls With Coxswain (4X) : 45
Quadruple Sculls Without Coxswain (4X) : 180
470 - Two Person Dinghy : 90
Tornado - Multihull : 54
- 60 KG : 36
+ 95KG (Heavyweight) : 16
60 - 65KG (Half-Lightweight) : 16
65 - 71KG (Lightweight) : 16
71 - 78KG (Half-Middleweight) : 16
78 - 86KG (Middleweight) : 16
86 - 95KG (Half-Heavyweight) : 16
100 - 110KG, Total (Heavyweight) : 12
90 - 100KG, Total (First-Heavyweight) : 12
Duet : 42
Solo : 9
3000M : 9
Heptathlon : 24
+ 91KG (Super Heavyweight) : 28
81 - 91KG (Heavyweight) : 28
K-4 500M (Kayak Four) : 84
Points Race : 33
Board (Windglider) : 3
10M Air Rifle (40 Shots) : 21
10M Air Rifle (60 Shots) : 21
25M Pistol (30+30 Shots) : 21
50M Rifle 3 Positions (3X20 Shots) : 21
50M Freestyle : 43
Sprint : 24
Board (Division Ii) : 3
10M Air Pistol (40 Shots) : 18
10M Air Pistol (60 Shots) : 18
100 - 130KG (Super Heavyweight) : 18
Individual (Fita Olympic Round - 70M) : 30
Team (Fita Olympic Round - 70M) : 90
Baseball : 335
- 48KG (Extra-Lightweight) : 12
+ 72KG (Heavyweight) : 8
48 - 52KG (Half-Lightweight) : 20
52 - 56KG (Lightweight) : 8
56 - 61KG (Half-Middleweight) : 8
61 - 66KG (Middleweight) : 8
66 - 72KG (Half-Heavyweight) : 8
Coxless Four (4-) : 12
Board (Lechner) : 6
Single-Handed Dinghy (Europe) : 12
Cross-Country : 30
Group Competition : 90
+ 100KG (Heavyweight) : 16
60 - 66KG (Half-Lightweight) : 16
66 - 73KG (Lightweight) : 16
73 - 81KG (Half-Middleweight) : 16
81 - 90KG (Middleweight) : 16
90 - 100KG (Half-Heavyweight) : 16
Lightweight Coxless Four (4-) : 48
Lightweight Double Sculls (2X) : 48
Board (Mistral) : 18
Single-Handed Dinghy Open (Laser) : 9
Double Trap (120 Targets) : 9
Double Trap (150 Targets) : 12
Softball : 180
Beach Volleyball : 60
- 54KG, Total (Flyweight) : 3
+ 108KG, Total (Super Heavyweight) : 3
54 - 59KG, Total (Bantamweight) : 3
59 - 64KG, Total (Featherweight) : 3
64 - 70KG, Total (Lightweight) : 3
70 - 76KG, Total (Middleweight) : 3
76 - 83KG, Total (Light-Heavyweight) : 3
83 - 91KG, Total (Middle-Heavyweight) : 3
91 - 99KG, Total (First-Heavyweight) : 3
99 - 108KG, Total (Heavyweight) : 3
Synchronized Diving 10M Platform : 36
Synchronized Diving 3M Springboard : 36
20KM Race Walk : 12
500M Time Trial : 6
Keirin : 16
Madison : 18
Olympic Sprint : 9
+ 78KG (Heavyweight) : 12
52 - 57KG (Lightweight) : 12
57 - 63KG (Half-Middleweight) : 12
63 - 70KG (Middleweight) : 12
70 - 78KG (Half-Heavyweight) : 12
49Er - Skiff : 24
10M Running Target (30+30 Shots) : 6
Skeet (75 Targets) : 9
Trap (75 Targets) : 9
- 49 KG : 14
- 58 KG : 14
+ 67 KG : 14
+ 80 KG : 14
49 - 57 KG : 14
57 - 67 KG : 14
58 - 68 KG : 14
68 - 80 KG : 14
+ 105KG : 9
+ 75KG : 9
105KG : 12
48KG : 12
53KG : 12
56KG : 7
58KG : 12
62KG : 12
63KG : 12
69KG : 24
75KG : 12
77KG : 12
85KG : 12
94KG : 12
48 - 54KG : 6
54 - 58KG : 6
58 - 63KG : 6
63 - 69KG : 6
69 - 76KG : 6
76 - 85KG : 6
85 - 97KG : 6
97 - 130KG : 6
48KG (Light Flywieght) : 8
60 - 64 KG : 12
64 - 69 KG : 12
69 - 75 KG : 12
Team Sprint : 33
- 48 KG : 12
Star - Keelboat : 12
Yngling - Keelboat : 18
- 48KG : 7
- 55KG : 14
48 - 55KG : 7
55 - 60KG : 14
55 - 63KG : 7
60 - 66KG : 18
63 - 72KG : 7
66 - 74KG : 14
74 - 84KG : 13
84 - 96KG : 14
96 - 120KG : 14
Marathon 10KM : 6
Finn - Heavyweight Dinghy : 3
Laser - One Person Dinghy : 3
Laser Radial - One Person Dinghy : 3
Rs:X - Windsurfer : 6
Synchronized 10M : 12
Synchronized 3M : 12
200M Medley : 6
400M Medley : 6
4X100M Freestyle : 38
4X100M Medley : 35
4X200M Freestyle : 38
3000M Steeple : 6
+ 91KG : 4
46 - 49KG : 4
51 KG : 4
52KG : 4
57 - 60KG : 4
60 KG : 4
75 - 81KG : 4
75 KG : 4
81 - 91KG : 4
C-1 (Single) : 3
C-2 (Double) : 6
K-1 (Single) : 6
C-1 1000M : 3
C-1 200M : 3
C-2 1000M : 6
K-1 1000M : 3
K-1 200M : 6
K-1 500M : 3
K-2 1000M : 6
K-2 200M : 6
K-2 500M : 6
K-4 1000M : 12
K-4 500M : 12
Individual Road : 6
Time Trial : 6
Omnium : 6
Team Pursuit : 22
Beam : 3
Individual All-Around : 9
+ 100KG : 4
+ 78KG : 4
48 - 52KG : 4
52 - 57KG : 4
57 - 63KG : 4
63 - 70KG : 4
66 - 73KG : 4
70 - 78KG : 4
73 - 81KG : 4
81 - 90KG : 4
90 - 100KG : 4
Coxless Four : 12
Coxless Pair 2- : 12
Double Sculls : 12
Eight With Coxswain : 54
Lightweight 4 : 12
Lightweight Doubles : 12
Quadruple Sculls : 24
Single Sculls : 6
470 : 12
Elliott 6M : 9
Finn : 3
Laser : 3
Laser Radial : 3
Rs:X : 6
Star : 6
10M Air Pistol : 6
10M Air Rifle : 6
25M Pistol : 3
25M Rapid Pistol : 3
50M Pistol : 3
50M Rifle 3 Positions : 6
50M Rifle Prone : 3
Double Trap 150 : 3
Skeet : 6
Trap : 6
+105KG : 3
+75KG : 3
-56KG : 3
Wf 120KG : 4
Wf 48 KG : 4
Wf 55 KG : 8
Wf 60 KG : 4
Wf 63 KG : 4
Wf 66 KG : 4
Wf 72 KG : 4
Wf 74 KG : 4
Wf 84 KG : 4
Wf 96 KG : 4
Wg 120 KG : 4
Wg 55 KG : 4
Wg 60 KG : 4
Wg 66 KG : 4
Wg 74 KG : 4
Wg 84 KG : 4
Wg 96 KG : 4

## Which player has won most number of medals?(Top 5)

In [23]:
df.Athlete.value_counts().head()

PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
MANGIAROTTI, Edoardo    13
ONO, Takashi            13
Name: Athlete, dtype: int64

In [24]:
df.Athlete.value_counts()

PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
MANGIAROTTI, Edoardo    13
ONO, Takashi            13
                        ..
GIDDENS, Rebecca         1
KUDO, Akira              1
BRAY, John               1
MAKHOV, Bilyal           1
HOVOROVA, Olena          1
Name: Athlete, Length: 22762, dtype: int64

## Which player has won most number Gold Medals of medals? (Top 5)

In [26]:
df[df.Medal=='Gold'].Athlete.value_counts().head()

PHELPS, Michael     18
LEWIS, Carl          9
SPITZ, Mark          9
LATYNINA, Larisa     9
NURMI, Paavo         9
Name: Athlete, dtype: int64

##  In which year India won first Gold Medal in Summer Olympics?

In [32]:
df2=df[df.Medal=='Gold']
min(df2[df2.Country=='IND'].Year)

1928

## Which event is most popular in terms on number of players?(Top 5)

In [38]:
df['Event'].value_counts().head()

Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Event, dtype: int64

In [39]:
df['Sport'].value_counts().head()

Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Sport, dtype: int64

In [35]:
df['Sport'].max()

'Wrestling'

In [36]:
df['Event'].max()

'Ã‰pÃ©e, Masters'

##  Which sport is having most female Gold Medalists?(Top 5)

In [40]:
df2=df[df.Medal=='Gold']
df2[df2.Gender=='Women'].Sport.value_counts().head()

Aquatics      589
Athletics     389
Gymnastics    268
Rowing        217
Volleyball    166
Name: Sport, dtype: int64

In [41]:
df2=df[df.Medal=='Gold']
df2[df2.Gender=='Women'].Event.value_counts().head()

Volleyball          156
Hockey              144
Handball            142
Team Competition    126
Basketball          120
Name: Event, dtype: int64